NUXT_PUBLIC_AUTH_DOMAIN=<domain>
NUXT_PUBLIC_AUTH_CLIENT_ID=<client id>
NUXT_PUBLIC_AUTH_AUDIENCE=<audience>
NUXT_PUBLIC_AUTH_SCOPES=<scopes>
NUXT_PUBLIC_AUTH_LOGOUT_REDIRECT_URI=http://localhost:3000
NUXT_PUBLIC_APP_BASE=http://localhost:3000
#NUXT_PUBLIC_SERVICE_ENDPOINT= <service endpoint>